.section__form{
    border: none;
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin: 5px;
    background-color: rgb(252, 252, 206);
    border-radius: 10px;
    padding: 10px;
}

.form__label {
    border: 1px solid rgb(252, 252, 206);
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.form__button {
    max-width: 550px;
    width: 100%;
    color: rgb(252, 252, 206);
    background-color: rgb(85, 71, 8);
    padding: 10px;
    border-radius: 10px;
}

.form__button:hover {
    background-color: hsl(49, 83%, 22%);
    border-radius: 10px;
}

.form__button:active {
    background-color: hsl(49, 83%, 25%);
    border-radius: 10px;
}

.form__fieldset {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    margin: 20px 0px;
}

.form__label:invalid {
    background-color: hsl(0, 100%, 96%);
}

.form__resultText {
    color:black;
    font-weight: bold;
    font-size: 30px;
}
